wsdl/Torpedo.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema
	targetNamespace="http://itlabor/torpedo"
	xmlns:tpd="http://itlabor/torpedo"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	
	<xs:element name="shot" nillable="true" type="tpd:shot"/>
	<xs:complexType name="shot">
		<xs:sequence>
			<xs:element name="i" type="xs:int"/>
			<xs:element name="j" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="shotResponse" nillable="true" type="tpd:shotResponse"/>
	<xs:complexType name="shotResponse">
		<xs:sequence>
			<xs:element name="shotResult" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
